:root{

    --primary_orange:hsl(25, 97%, 53%);


    --neutral_white:hsl(0, 0%, 100%);
    --neutral_light_grey:hsl(217, 12%, 63%);
    --neutral_medium_grey:hsl(216, 12%, 54%);
    --neutral_dark_blue: hsl(213, 19%, 18%);
    --neutral_very_dark_blue:hsl(216, 12%, 8%);
    --gradient:linear-gradient(330deg,
            hsl(216deg 12% 8%) 0%,
            hsl(216deg 12% 9%) 11%,
            hsl(215deg 14% 10%) 22%,
            hsl(215deg 15% 11%) 33%,
            hsl(215deg 16% 12%) 44%,
            hsl(214deg 17% 14%) 56%,
            hsl(214deg 18% 15%) 67%,
            hsl(214deg 18% 16%) 78%,
            hsl(214deg 19% 17%) 89%,
            hsl(213deg 20% 18%) 100%);
    --white_gradient:linear-gradient(320deg,
                hsl(0deg 0% 100%) 0%,
                hsl(218deg 12% 95%) 19%,
                hsl(218deg 12% 89%) 35%,
                hsl(218deg 12% 84%) 48%,
                hsl(218deg 12% 79%) 59%,
                hsl(217deg 12% 74%) 68%,
                hsl(217deg 12% 69%) 74%,
                hsl(217deg 12% 64%) 79%,
                hsl(217deg 12% 59%) 83%,
                hsl(216deg 12% 54%) 99%);
}

body{
 background-color: var(--neutral_very_dark_blue);
 color: var(--neutral_white);
 font-size: 15px;
 margin: 0 auto;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    height: 100vh;
    margin-top: 150px;
}


.rating_card{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-content: flex-start;
    align-items: flex-start;
    width: 90%;
    min-height: 55%;
    border-radius: 15px;
    background-image: var(--gradient);
    color: var(--neutral_white);

}

.rating_card>* {
    padding: 0px 20px;
}

.rating_card .rating_icon{
    background-image: var(--gradient);
    width: 5px;
    aspect-ratio: 1/9;
    border-radius: 50%;
    display: block;
    margin-top: 30px;
    margin-left: 20px;
}
.rating_card .rating_icon::before{
    position: relative;
    content: url('../images/icon-star.svg');
    top: 15px;
    left: -5px;
}

.rating_card h4{
    font-weight: 700;
    font-size: 25px;
}

.rating_card p{
    margin-top: -10px;
    color: var(--neutral_light_grey);
}

.rating_card .rating_num{
    color: var(--neutral_light_grey);
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-content:center;
    align-items: center;
    margin-bottom: 10px;
    padding: 0px 0px;

}

.rating_card .rating_num span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: var(--gradient);
    width: 15%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    cursor: pointer;
    
}
.rating_card .rating_num span:hover{
    color: var(--neutral_white);
    background-image: var(--white_gradient);
}


.rating_card .button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 88%;
}

.rating_card button{
    color: var(--neutral_white);
    font-size: 20px;
    border: none;
    background-color: var(--primary_orange);
    border-radius: 20px;
    width: 100%;
    height: 45px;
    margin-bottom: 30px;
    cursor: pointer;
    text-transform: uppercase;
}


.rating_card button:hover{
    background-color: var(--neutral_white);
    color: var(--primary_orange);
}

.thanks_card{

    justify-content: center;
    align-items: center;
}

.thanks_card picture{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 10px 0px;
}

.thanks_card .rating_message{
    /* width: 85%; */
    height: 15%;
    color: var(--primary_orange);
    background-color: var(--neutral_dark_blue);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.thanks_card h4{
    margin-top: 0px;
}
.thanks_card p{
    text-align: center;
    margin-bottom: 20px;
}
